@media (max-width: 472px) {
  .label-search {
    width: 100%!important;
  }
}

@media (max-width: 575px) {
  .container-footer {
    padding-left: 20px!important;
  }
}

@media (max-width: 403px) {
  .but-telechargement {
    margin-right: 0px!important;
    margin-bottom: 15px;
  }
}

.button-inscrir-sm:hover {
  background-color: rgba(0,0,0,0.18)!important;
  color: white!important;
}

@media (max-width: 991px) {
  .label-search {
    margin: auto;
  }
}

.pulse-anim {
  animation: pulse 1.3s infinite;
}

.hover-head-btn:hover {
  background-color: rgba(0,0,0,0.18)!important;
  color: white!important;
}

@media (max-width: 412px) {
  .navbrand {
    font-size: 21px!important;
  }
}

.link-menu {
  text-decoration: none!important;
  color: black!important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    /*margin-top: 250px!important;*/
  }
}

@media (max-width: 767px) {
  .container-sm {
    /*margin-top: 650px!important;*/
  }
}

@media (max-width: 450px) {
  #navbar-xs {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

.link-header {
  text-decoration: none;
  color: white!important;
}

@media (max-width: 504px) {
  .paragraphe-xs {
    font-size: 26px!important;
  }
}

.block-hover:hover {
  transform: scale(1.2);
}

.item-hover:hover {
  background-color: rgba(169,214,30,0.7);
  color: white;
}

.link-pasword {
  text-decoration: none;
}

@media (max-width: 767px) {
  #modal-1 {
    margin-left: 10%!important;
    margin-top: 201px!important;
  }
}

@media (max-width: 767px) {
  #modal-2 {
    margin-left: 10%!important;
    margin-top: 201px!important;
  }
}

@media (min-width: 1400px) {
  .rest-produit {
    /*margin-right: 13px!important;*/
  }
}

.button-section:hover {
  background-color: #6A8D00!important;
  color: white!important;
}

@media (max-width: 575px) {
  #body-resto {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (max-width: 575px) {
  .rest-produit {
    margin: auto;
  }
}

@media (max-width: 765px) {
  .menu-resto {
    width: 90px!important;
    margin-right: 12px;
  }
}

@media (max-width: 765px) {
  .span-menu-resto {
    font-size: 12px;
  }
}

.row.rows-plats {
}

@media (min-width: 300px) {
  .block-hover.div-menu-resto {
    width: 90px!important;
  }
}

.rows-plats {
}

@media (max-width: 765px) {
  .rows-select {
    background-color: transparent!important;
  }
}

@media (max-width: 765px) {
  .col-select {
    margin-top: 4px!important;
  }
}

@media (max-width: 765px) {
  .field-select {
    font-size: 10px!important;
  }
}

@media (max-width: 765px) {
  .container-select {
    margin-bottom: 50px!important;
  }
}

.link-modal-panier {
  text-decoration: none;
  color: black;
}

.link-modal-panier:hover {
  color: black;
}

@media (max-width: 420px) {
  .size-header {
    font-size: 18px!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-marge-small {
    margin-bottom: 242px!important;
  }
}

@media (max-width: 767px) {
  .container-marge-small {
    margin-bottom: 600px!important;
  }
}

@media (max-width: 767px) {
  .container-download {
    margin-top: 538px!important;
  }
}

@media (max-width: 575px) {
  .crop-img {
    height: 45px!important;
  }
}

@media (max-width: 575px) {
  #container-payement {
    width: 92%;
  }
}

.div-hr {
  position: relative;
}

.hr-col {
  position: absolute;
  width: 100%!important;
  bottom: 0px;
}

.span-hr {
  position: absolute;
  bottom: 10px;
}

.col-hr {
  position: relative;
}

@media (max-width: 991px) {
  .hr-md {
    padding-top: 18px;
  }
}

@media (max-width: 440px) {
  .btn-prix {
    font-size: 15px!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-prix {
    font-size: 15px!important;
  }
}

@media (min-width: 834px) {
  .link-size {
    font-size: 20px!important;
  }
}

#navbar-xs {
  z-index: 2;
}

.fas.fa-users.icon-invitation {
  position: relative;
}

.span-invitation {
  position: absolute;
}

